---
import type { ProjectIcon } from '../../types'
import Icon from './Icon.astro'

interface Props {
  icons: ProjectIcon[]
}
const { icons } = Astro.props
---

{icons.length > 0 && null}

<div>
  <h4>Tecnologies used</h4>
  <div class="container-icons">
    {icons.map((icon) => <Icon href={icon.href} caption={icon.caption} />)}
  </div>
</div>

<style>
  /* xdxd */
  /* div div {
        display: flex;
        width: 100%;
        background-color: red;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
    } */
  .container-icons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    align-self: center;
  }

  @media (max-width: 667px) {
    .container-icons {
      justify-content: center;
    }
  }
</style>
