/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

html {
	scroll-behavior: smooth;
}

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%),
		0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	/* line-height: 1.7; */
}

section {
	padding: 1rem 2rem;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.introduction {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	gap: 2rem;
	width: 100%;
	padding: 1rem 2rem;
}

.introduction-photo-container {
	display: flex;
	justify-content: center;
	max-width: 10rem;
}

.introduction-photo {
	width: 100%;
	height: auto;
	border-radius: 2rem;
	display: block;
	object-fit: cover;
}

.work-experience {
	width: 100%;
}

.work-experience-list-container {
	margin: 0 auto;
	width: 100%;
}

.work-experience-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.work-experience-list li {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	padding: 0.5rem 1rem;
	gap: 1rem;
	position: relative;
}

.work-experience-list li:first-child {
	overflow: hidden;
}

/*line between title and description */
.work-experience-list li::before {
	content: '';
	position: absolute;
	border-left: 1px solid;
	left: 1.4rem;
	bottom: 0;
	z-index: -1;
	height: 200%;
}

.work-title {
	display: flex;
	align-items: center;
	gap: 2rem;
	width: 40%;
}

.work-dates {
	margin-top: -1rem;
}

.work-title-details p {
	color: rgb(var(--gray-dark));
	font-size: 18px;
	margin-top: -1rem;
}

/* list circle */
.work-title span:first-child {
	content: '';
	display: inline-block;
	margin-right: 0.5rem;
	width: 0.9rem;
	height: 0.9rem;
	background: var(--accent);
	border-radius: 50%;
}


.work-description {
	margin-top: -1rem;
	width: 60%;
	font-size: 18px;
	line-height: 1.5;
}

.about-me {
	width: 100%;
	margin-bottom: 5rem;
}

.projects {
	width: 100%;
	margin-bottom: 5rem;
}

/* responsive */

@media (max-width: 667px) {
	p {
		font-size: 18px;
	}

	main {
		width: 100%;
		padding: 0 1rem;
		/* TODO: fix oversize in introduction section */
		overflow-x: hidden;
	}


	.introduction {
		display: flex;
		flex-direction: column;
	}

	.work-experience-list-container {
		width: 100%;
	}

	.work-experience-list {
		gap: 2rem;
	}

	.work-experience-list li {
		flex-direction: column;
		width: 100%;
	}

	.work-title {
		width: 100%;
	}
}
