---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import IntroductionMyself from '../components/Introduction.astro'
import AboutMe from '../components/AboutMe.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import WorkExperience from '../components/WorkExperience.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Header />
  <main>
    <IntroductionMyself />
    <WorkExperience />
    <AboutMe />
  </main>
  <Footer />
  <style>
    main {
      max-width: 80vh;
      margin: 0 auto;
      align-items: center;
      gap: 4rem;
      display: flex;
      flex-direction: column;
    }
  </style>
</html>
