<section id="about-me" class="about-me">
  <h2>About Me</h2>
  <p>
    My name is Jose Victorino Lavida, I studied Matematics at the Universidad
    Nacional Autonama de México (UNAM)
  </p>
  <p>
    I started my jorney in web development while I was in the university. I
    started learning some Python.
  </p>
  <p>After that, I leaned JavaScript and immediately began learning Reactjs.</p>
  <p>Sometimes I miss learning mathematics how I did in the university.</p>
</section>
