---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props
---

<a id="button-nav" href={href} class:list={[className]} {...props}>
  <slot />
</a>
