<section id="introduction" class="introduction">
  <div class="introduction-photo-container">
    <img src="/photo.jpg" class="introduction-photo" />
  </div>
  <div class="introduction-text">
    <h2>Hi there!</h2>
    <p>
      <span>
        my name is <strong class="about-me-name"> Victorino Lavida </strong>.
      </span>
      +1 year of experience in web development.
    </p>
    <p>
      Currently, I'm focusiong on learning Golang and React in my spare time.
    </p>
    <p>
      why Golang? because it is a great language, easy to learn and easy to
      write.
    </p>
    <p>
      I like to learn new technologies, as Astro (actually this page was made
      with Astro).
    </p>
  </div>
</section>
