---
import PortafolioProject from './Project/Portafolio.project.astro'
---

<section id="projects" class="projects">
  <h2>My Projects!</h2>

  <PortafolioProject />
</section>

<style>
  a,
  a:visited {
    color: #000d8a;
    text-decoration: none;
  }
</style>
